#ignore thumbnails created by windows
Thumbs.db
 
#Intellij Idea
#.idea
.idea/workspace.xml
.idea/tasks.xml
*.iml
*.iws
*.ipr
 
# Java
*.class
*.classpath
*.project
 
# Package Files
*.jar
*.war
*.ear
 
# Maven
target
 
# Gradle
.gradle
build
out
user.gradle
 
# Vim
.*.swp
